{% extends "base.html" %}

{% block field_errors %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}            
            <div class="alert alert-danger">
                {{ field.name }}        
                <ul>
                    <li>{{ error|escape }}</li>
                </ul>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-warning">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Editar plato</li>
{% endblock %}

{% block content %}
<div>
    <div class="col-12" id="add-new-branch">
        <div class="form-group row p-t-20">
            <div class="card card-body">
                <form class="form-horizontal m-t-30" action="{% url 'panel:edit-plato' uuid %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label><span class="help">Nombre</span></label>
                        {{ form.name }}
                        <small class="text-danger">{{ form.errors.name }}</small>
                    </div>
                    <div class="form-group">
                        <label><span class="help">Descripción</span></label>
                        {{ form.description }}
                        <small class="text-danger">{{ form.errors.description }}</small>
                    </div>
                    <div class="form-group">
                        <label>Imagen actual</label>
                        <img src={{ form.current_photo.value }} alt="" height="100" width="100">
                    </div>
                    <div class="form-group">
                        <label>Foto</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Seleccionar</span>
                            </div>
                            <div class="custom-file">
                                {{ form.new_photo }}
                                <label class="custom-file-label" for="image">Seleccionar imagen</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><span class="help">Precio</span></label>
                        {{ form.price }}
                        <small class="text-danger">{{ form.errors.price }}</small>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label><span class="help">Categoría</span></label>
                                {{ form.category }}
                                <small class="text-danger">{{ form.errors.category }}</small>
                            </div>
                        </div>
                    </div>
   
                    <div class="form-group">
                        <label><span class="help">Ingredientes</span></label>
                        {{ form.ingredients2 }}
                        <small class="text-danger">{{ form.errors.ingredients2 }}</small>
                        <div>
                            <span class="help-block"><small><i class="mr-1 mdi mdi-information"></i>Introduce los ingredientes separados por coma</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><span class="help">Tags</span></label>
                        <div>
                            {{ form.tags2 }}
                            <small class="text-danger">{{ form.errors.tags2 }}</small>
                        <div>
                            <span class="help-block"><small><i class="mr-1 mdi mdi-information"></i>Introduce las etiquetas separadas por coma</small></span>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><span class="help">Activa</span></label>
                        <div>
                            {{ form.active }}
                            <small class="text-danger">{{ form.errors.active }}</small>
                            <div>
                                <span class="help-block"><small><i class="mr-1 mdi mdi-information"></i>El plato no activo no se visualizará en el menú.</small></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">

                        <div class="form-group mt-docker4 d-inline-block">

                            <button type="submit" id="submit-branch-edit-form" class="btn btn-primary mb-1"><i  class="simple-icon-check"> Guardar</i></button>
                            <div class="col-sm-12 text-center">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}