{% extends "base.html" %}
{% load humanize %}

{% block messages %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}


{% block content %}
    <div class="row mt-2">
        {% csrf_token %}
        {% if not object_list %}
            <div class="alert alert-primary" role="alert">
                No hay pedidos recientes.
            </div>
        {% else %}
            <table class="table" id="ordersTable">
                <thead>
                    <tr>
                        <th scope="col">Hora del pedido</th>
                        <th scope="col">Platos</th>
                        <th scope="col">Código</th>
                        <th scope="col">Hora de entrega</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Importe</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        {% endif %}
          
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    // Load the data in JS
    var globalOrders =  JSON.parse('{{ object_list|escapejs }}');
    const csrf = document.getElementById('csrf_token');
    // Subscribe to WS
    function connect() {
        
        let brand_uuid = globalOrders.brand_uuid;
        console.log(brand_uuid)
        console.log(window.location.host)
        chatSocket = new WebSocket("wss://" + window.location.host + "/orders/brand/" + brand_uuid );

        chatSocket.onopen = function(e) {
            console.log("Successfully connected to the WebSocket.");
            chatSocket.send(JSON.stringify({
                "message": "Conectado",
            }));
        }

        chatSocket.onclose = function(e) {
            console.log("WebSocket connection closed unexpectedly. Trying to reconnect in 2s...");
            // setTimeout(function() {
            //     console.log("Reconnecting...");
            //     connect();
            // }, 2000);
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const order = JSON.parse(data.message)
            globalOrders.orders.unshift(order)
            console.log(order)
            console.log(globalOrders)
            makeTable(globalOrders);
        };

        chatSocket.onerror = function(err) {
            console.log("WebSocket encountered an error: " + err.message);
            console.log("Closing the socket.");
            chatSocket.close();
        }
    }


    selected_unselect = (e, order) => {
        e.preventDefault()
        globalOrders.orders.forEach((element, index) => {
            if(element.id != order.id && element.selected === true){
                globalOrders.orders[index].selected = false;
                makeTable(globalOrders);
            } else if(element.id == order.id && element.selected === false) {
                globalOrders.orders[index].selected = true;
                makeTable(globalOrders);
            }
        })
    }

    changeOrderStatus = (form) => {
        console.log(form)
        form.submit()
    }


    function makeTable(orders) {
        const ordersTableBody = document.querySelector('#ordersTable tbody');
        ordersTableBody.innerHTML = "";

        orders.orders.forEach(order => {
            const row = document.createElement('tr');
            if(order.green === true){
                row.setAttribute("class", "bg-success text-white")
            } else if(order.error === true) {
                row.setAttribute("class", "bg-danger text-white")
            } else if(order.selected === true) {
                row.setAttribute("class", "bg-info text-white")
            }

            const orderIdCell = document.createElement('td');
            orderIdCell.textContent = order.order_placed_at;
            row.appendChild(orderIdCell);

            const orderPlacedAtCell = document.createElement('td');
            order.dishes.forEach(dish => {
                dishDiv = document.createElement('div');

                span = document.createElement('span');
                span.setAttribute("class", "badge text-bg-success")
                span.innerHTML = dish

                let accordion = `
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                ${dish.quantity}x ${dish.dish__name}
                            </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                ${dish.exclude_ingredients.map(ing => (
                                    `<span class="badge text-bg-danger">${ing}</span>`
                                ))}
                            </div>
                            </div>
                        </div>
                    </div>
                `

                divAccordion = document.createElement('div');
                divAccordion.innerHTML = accordion

                // dishDiv.append(span)
                dishDiv.append(divAccordion)
                orderPlacedAtCell.appendChild(dishDiv)
            })
            row.appendChild(orderPlacedAtCell);

            const orderDeliveredAtCell = document.createElement('td');
            orderDeliveredAtCell.textContent = order.collection_code;
            row.appendChild(orderDeliveredAtCell);

            const wsCodeCell = document.createElement('td');
            wsCodeCell.textContent = order.order_delivered_at;
            row.appendChild(wsCodeCell);


            const statusCell = document.createElement('td');
            // Create form element
            const form = document.createElement('form');
            const current_url = window.location.href;
            form.method = 'post';
            form.action = `https://${window.location.host}/change-order-status/${order.id}`

            // Create select element
            const select = document.createElement('select');
            select.className = 'form-select';
            select.name = 'status';
            select.id = 'status';

            // Create option elements and add them to select element
            const options = [
                {value: 0, text: 'ORDER PLACED'},
                {value: 1, text: 'ORDER ACCEPTED'},
                {value: 2, text: 'PREPARING ORDER'},
                {value: 3, text: 'ORDER PREPARED'},
                {value: 4, text: 'ORDER DELIVERED'}
            ];
            options.forEach(option => {
                const opt = document.createElement('option');
                opt.value = option.value;
                opt.textContent = option.text;
                select.appendChild(opt);
                if(option.value === order.status) {
                    opt.selected = true;
                }
            });

            row.onmouseover = function (e) {
                selected_unselect(e, order);
            }

            // Create submit button
            const button = document.createElement('button');
            button.type = 'submit';
            button.className = 'btn btn-primary';
            button.textContent = 'Change';

            // Append csrf 
            let x = '{% csrf_token %}';

            // Add the hidden input containing order id
            const input = document.createElement("input");
            input.type = "hidden";
            input.name = "id"
            input.value = order.id;
            // form.appendChild(input); // put it into the DOM

            // Add select element and button to form element
            form.appendChild(select);
            // form.appendChild(button);

            // Add form element to the DOM
            statusCell.append(form)
            row.appendChild(statusCell);

            // Attach the onhcnage submit form
            form.addEventListener("change", function(){
                changeOrderStatus(form);
            })

            const brandIdCell = document.createElement('td');
            brandIdCell.textContent = order.amount.toFixed(2) + "€";
            row.appendChild(brandIdCell);

            ordersTableBody.appendChild(row);

        });
    }
    connect();
    makeTable(globalOrders);

</script>
{% endblock %}

