{% extends "base.html" %}
{% load humanize %}

{% block messages %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if message.tags == 'error' %}
            <div class="alert alert-error" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}


{% block content %}
    <div class="row mt-2">
        {% if not object_list %}
            <div class="alert alert-primary" role="alert">
                No hay pedidos recientes.
            </div>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Hora del pedido</th>
                    <th scope="col">Platos</th>
                    <th scope="col">Código</th>
                    <th scope="col">Hora de entrega</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Importe</th>
                </tr>
            </thead>
            <tbody>
                {% for order in object_list %}
                    <tr>
                        <td>{{ order.order_placed_at|naturaltime  }}</td>
                        <td>
                        {% for dish in order.dishes.all %}
                        <span class="badge text-bg-success">{{ dish.name }}</span>
                        {% endfor %}
                        </td>
                        <td>{{ order.order_collection_code }}</td>
                        <td>{{ order.order_delivered_at|date:"d/m/Y G:i" }}</td>
                        <td>
                            <form name="status" action="{% url 'panel:change-order-status' order.id %}" method="get" onsubmit="makePost()">
                                <select class="form-select" name="status" id="status">
                                    <option value="0" {% if order.status == 0 %}selected{% endif %}>ORDER PLACED</option>
                                    <option value="1" {% if order.status == 1 %}selected{% endif %}>ORDER ACCEPTED</option>
                                    <option value="2" {% if order.status == 2 %}selected{% endif %}>PREPARING ORDER</option>
                                    <option value="3" {% if order.status == 3 %}selected{% endif %}>ORDER PREPARED</option>
                                    <option value="4" {% if order.status == 4 %}selected{% endif %}>ORDER DELIVERED</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Change</button>
                            </form>
                        </td>
                        <td>{{ order.amount|floatformat:2 }}€</td>
                    <tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
          
    </div>
{% endblock %}
