{% extends "base.html" %}

{% block messages %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if message.tags == 'error' %}
            <div class="alert alert-error" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block style %}
    #banner{
        max-width: 100%;
        height: auto;
        left: 0px;
        right: 0px;
    }

    #myImage{
        max-width: 100%;
        height: auto;
        left: 0px;
        right: 0px;
    }
{% endblock %}

{% block content %}
    <img src="{{ img }}" class="img-fluid" alt="QR">
{% endblock %}
